* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 12px !important;
    line-height: 1.5rem;
    color: #333;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    height: 40px;
    background-color: #158CF4;
    vertical-align: middle;
    padding: 0 20px;
}

.header .main-title {
    padding-top: 10px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.footer {
    width: 100%;
    height: 40px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    font-size: 13px;
}

.container {
    height: 80vh;
}

.container .justify-content-center {
    position: relative;
    top: 20%;
}

.form-login .card-header {
    background-color: #1685E9;
    height: auto;
    padding: 0;
    text-align: center;
}

.form-login .icon-login {
    width: 80px;
}

.form-login .title {
    color: white;
    width: auto;
}

.form-login .sub-title {
    color: rgb(230, 230, 230);
}

.form-login .input-group-text {
    background-color: white;
    border-right: none;
}

.form-login .card {
    background: #fff;
    border-radius: 5px;
    /*display: inline-block;
    */
    margin-bottom: 10px;
    position: relative;
    word-wrap: break-word;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-login .card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.form-login .login-link {
    color: #158CF4;
    font-weight: normal;
}

.form-login .input-group-text img {
    width: 16px;
}


/* sidebar */

@-webkit-keyframes swing {
    0%,
    30%,
    50%,
    70%,
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    10% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
    }
    40% {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
    }
    60% {
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
    80% {
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
    }
}

@keyframes swing {
    0%,
    30%,
    50%,
    70%,
    100% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    10% {
        transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -o-transform: rotate(10deg);
    }
    40% {
        transform: rotate(-10deg);
        -webkit-transform: rotate(-10deg);
        -moz-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
        -o-transform: rotate(-10deg);
    }
    60% {
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
    80% {
        transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
    }
}

@-webkit-keyframes sonar {
    0% {
        transform: scale(0.9);
        opacity: 1;
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
    }
    100% {
        transform: scale(2);
        opacity: 0;
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
    }
}

@keyframes sonar {
    0% {
        transform: scale(0.9);
        opacity: 1;
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
    }
    100% {
        transform: scale(2);
        opacity: 0;
        -webkit-transform: scale(2);
        -moz-transform: scale(2);
        -ms-transform: scale(2);
        -o-transform: scale(2);
    }
}

.sidebar-wrapper {
    /* width: 16%; */
    /* min-width: 16%; */
    width: 18%;
    height: 100%;
    /* max-width: 18%; */
    position: fixed;
    /* top: 0; */
    /* left: -280px; */
    z-index: 999;
    transition: left .3s ease, width .3s ease;
    -webkit-transition: left .3s ease, width .3s ease;
    -moz-transition: left .3s ease, width .3s ease;
    -ms-transition: left .3s ease, width .3s ease;
    -o-transition: left .3s ease, width .3s ease;
    background-color: #F7F5F7 !important;
    color: #646464;
    background: #fff;
    border-radius: 5px;
    position: relative;
    word-wrap: break-word;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: inline-block;
}

.sidebar-wrapper-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.sidebar-wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-wrapper a {
    text-decoration: none;
    color: rgba(42, 42, 42, 0.8);
    transition: color .3s ease;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
    -o-transition: color .3s ease;
}

.sidebar-wrapper .sidebar-item {
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}

.sidebar-wrapper .sidebar-content {
    max-height: calc(100% - 35px);
    height: calc(100% - 35px);
    overflow-y: scroll;
    position: relative;
}

.sidebar-wrapper .sidebar-content.desktop {
    overflow-y: hidden;
}

.sidebar-wrapper .badge {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.sidebar-lg .sidebar-wrapper {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.sidebar-lg .sidebar-wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.sidebar-wrapper .sidebar-brand {
    padding: 1rem 1.2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    background-color: white;
    margin-bottom: 2px;
}

.sidebar-wrapper .sidebar-brand>a {
    text-transform: uppercase;
    font-weight: bold;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #646464;
}

.sidebar-wrapper .sidebar-header {
    padding: 20px;
    overflow: hidden;
    background-color: white;
    margin-bottom: 2px;
}

.sidebar-wrapper .sidebar-header .user-pic {
    width: 60px;
    padding: 2px;
    margin-right: 15px;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-pic img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.sidebar-wrapper .sidebar-header .user-info {
    overflow: hidden;
}

.sidebar-wrapper .sidebar-header .user-info>span {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidebar-wrapper .sidebar-header .user-info .user-role {
    font-size: 12px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status {
    font-size: 12px;
    margin-top: 4px;
}

.sidebar-wrapper .sidebar-header .user-info .user-status i {
    font-size: 8px;
    margin-right: 4px;
    color: #32d332;
}

.sidebar-wrapper .sidebar-menu {
    /* padding-bottom: 10px; */
    background-color: #F7F5F7;
}

.sidebar-wrapper .sidebar-menu .header-menu {
    margin-bottom: 2px;
    background-color: white;
}

.sidebar-wrapper .sidebar-menu .header-menu .sub-menu>li a {
    border-bottom: thick;
}

.sidebar-wrapper .sidebar-menu .header-menu .sub-menu li a img {
    width: 18px;
}

.sidebar-wrapper .sidebar-menu .header-menu span {
    font-weight: 550;
    font-size: 13px;
    padding: 10px 2px 5px 20px;
    display: inline-block;
}

.sidebar-wrapper .sidebar-menu .header-menu ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none;
    position: relative;
    padding: 2px 2px 2px 20px;
    width: 100%;
}

.sidebar-wrapper .sidebar-menu ul li a:hover>i::before {
    color: white !important;
    display: inline-block;
    animation: swing ease-in-out .5s 1 alternate;
    -webkit-animation: swing ease-in-out .5s 1 alternate;
}

.sidebar-wrapper .sidebar-menu ul li a:hover {
    color: black;
}

.sidebar-wrapper .sidebar-menu ul li a i {
    margin-right: 10px;
    font-size: 12px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

.sidebar-wrapper .sidebar-menu ul li a .menu-text {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown>a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
    top: 14px;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
    -webkit-transition: transform .3s ease;
    -moz-transition: transform .3s ease;
    -ms-transition: transform .3s ease;
    -o-transition: transform .3s ease;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu {
    display: none;
    background-color: white;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 25px;
    font-size: 13px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .badge,
.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a .label {
    margin-left: auto;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown .sidebar-submenu li a:hover {
    color: black;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a:after {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    right: 15px;
}

.sidebar-wrapper .sidebar-menu .sidebar-dropdown.active>a span {
    color: black;
}

.sidebar-wrapper .sidebar-menu .sub-menu-sidebar {
    text-decoration: none;
}

.sidebar-wrapper .sidebar-footer {
    border: thick;
    position: absolute;
    width: 100%;
    bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: white;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.sidebar-wrapper .sidebar-footer>div {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: center;
    height: 35px;
    line-height: 35px;
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sidebar-wrapper .sidebar-footer>div>a {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.sidebar-wrapper .sidebar-footer>div a .notification {
    position: absolute;
    top: 0;
}

.sidebar-wrapper .sidebar-footer>div.pinned-footer {
    display: none;
}

.sidebar-wrapper .sidebar-footer .dropdown-menu {
    bottom: 36px;
    left: 0 !important;
    top: initial !important;
    right: 0;
    transform: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    font-size: .9rem;
    color: #000 !important;
}

.sidebar-wrapper .sidebar-footer .dropdown-menu .dropdown-item {
    color: #212529;
}

.sidebar-wrapper .sidebar-footer .messages .dropdown-item {
    padding: .25rem 1rem;
}

.sidebar-wrapper .sidebar-footer .messages .messages-header {
    padding: 0 1rem;
}

.sidebar-wrapper .sidebar-footer .messages .message-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sidebar-wrapper .sidebar-footer .messages .message-content .pic {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.sidebar-wrapper .sidebar-footer .messages .message-content .pic img {
    -o-object-fit: cover;
    object-fit: cover;
    height: 100%;
}

.sidebar-wrapper .sidebar-footer .messages .message-content .content {
    line-height: 1.6;
    padding-left: 5px;
    width: calc(100% - 40px);
}

.sidebar-wrapper .sidebar-footer .messages .message-content .content .message-title {
    font-size: 13px;
}

.sidebar-wrapper .sidebar-footer .messages .message-content .content .message-detail {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-wrapper .sidebar-footer .notifications .dropdown-item {
    padding: .25rem 1rem;
}

.sidebar-wrapper .sidebar-footer .notifications .notifications-header {
    padding: 0 1rem;
}

.sidebar-wrapper .sidebar-footer .notifications .notification-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sidebar-wrapper .sidebar-footer .notifications .notification-content .icon {
    width: 40px;
    height: 40px;
}

.sidebar-wrapper .sidebar-footer .notifications .notification-content .icon i {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}

.sidebar-wrapper .sidebar-footer .notifications .notification-content .content {
    color: #212529;
    line-height: 1.6;
    padding-left: 5px;
    width: calc(100% - 40px);
}

.sidebar-wrapper .sidebar-footer .notifications .notification-content .content .notification-time {
    font-size: .7rem;
    color: #828282;
}

.sidebar-wrapper .sidebar-footer .notifications .notification-content .content .notification-detail {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-wrapper .sidebar-footer .badge-sonar {
    display: inline-block;
    background: #d86703;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 0;
}

.sidebar-wrapper .sidebar-footer .badge-sonar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #d86703;
    opacity: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: sonar 1.5s infinite;
    -webkit-animation: sonar 1.5s infinite;
}

.tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.tags li {
    float: left;
}

.tag {
    background: #D1E5F1;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    color: #2C76B6;
    display: inline-block;
    height: 18px;
    line-height: 16px;
    padding: 0 10px 0 10px;
    position: relative;
    margin: 0 4px 2px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    text-align: center;
}


/*--------------------page-wrapper----------------------*/

.page-wrapper {
    height: 100vh;
}

.page-wrapper .page-content {
    /* display: inline-block; */
    width: 100%;
    -webkit-transition: padding-left .3s ease;
    transition: padding-left .3s ease;
    overflow-x: hidden;
}

.page-wrapper .page-content .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background: #000;
    opacity: .5;
    display: none;
}

@media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
        padding-left: 280px;
    }
}

@media screen and (max-width: 768px) {
    .page-wrapper.toggled .page-content .overlay {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .page-wrapper.toggled.pinned .page-content {
        padding-left: 80px;
    }
}

@media screen and (min-width: 768px) {
    .page-wrapper.toggled.pinned .overlay {
        display: block;
    }
}

.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper {
    width: 80px;
}

.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header {
    padding: 10px;
}

.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .user-pic {
    margin: 0 auto;
    width: 50px;
    float: none;
}

.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .user-pic img {
    margin: auto;
}

.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-header .user-info,
.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu .header-menu,
.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu .sidebar-submenu,
.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu ul>li>a>span,
.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-menu ul>li>a::after,
.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-footer>div:not(.pinned-footer) {
    display: none !important;
}

.page-wrapper.pinned:not(.sidebar-hovered) .sidebar-wrapper .sidebar-footer>div.pinned-footer {
    display: block;
}

.page-wrapper .mCSB-scrollTools {
    width: 6px;
}

.page-wrapper .mCSB_inside>.mCSB_container {
    margin-right: 0px;
}

.page-wrapper .title .form-group {
    margin-bottom: 0px !important;
    padding-bottom: 0px;
}

.page-wrapper .title .form-group .title-content {
    text-align: center;
}

.page-wrapper .main-content .btn-add-data {
    padding: 3px 6px;
    width: 60px;
    font-size: 12px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}


/*------------------------------Modal-------------------------------------*/

.modal .bootstrap-tagsinput {
    width: 100% !important;
}

.modal .tag {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #2C76B6;
}


/*--------------------Custom Datatables---------------------------------------*/

.dataTables_scrollHeadInner {
    width: 100% !important;
}

.table {
    width: 100% !important;
}

.table td {
    vertical-align: middle;
}

.table td .btn {
    padding: 3px 4px;
    margin-left: 6px;
}


/*--------------------border-radius-------------------------*/

.border-radius-on .sidebar-header .user-pic {
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}

.border-radius-on .badge {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.border-radius-on .sidebar-menu ul li i {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.border-radius-on .sidebar-footer .dropdown-menu {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.border-radius-on .sidebar-footer .dropdown-menu .notification-content i,
.border-radius-on .sidebar-footer .dropdown-menu .message-content .pic {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}


/* Scroll */

.mCSB_dragger_bar {
    background-color: #ccc !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #ccc;
}

.mCSB_scrollTools .mCSB_draggerRail {
    background-color: white;
}


/* content */

.page-wrapper>.content {
    position: absolute;
    display: inline-block;
    background-color: #F7F5F7;
    overflow-y: scroll;
    padding: 0 4px;
}

.page-wrapper>.content .header-notification {
    height: 38px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color: white;
    width: 100%;
}

.page-wrapper>.content .header-notification .slide-notification {
    height: 38px !important;
}

.page-wrapper>.content .header-notification .slide-notification span {
    color: red;
    font-size: large;
    height: 38px;
    display: inline-flex;
    align-items: center;
}

.page-wrapper>.content .header-notification .btn-feature-short {
    height: 38px;
}

.page-wrapper>.content .header-notification .btn-feature-short>.btn {
    float: right;
    height: 100%;
    margin-right: 4px;
    font-weight: 700;
    color: rgba(42, 42, 42, 0.8);
}

.page-wrapper>.content .header-notification .btn-feature-short>.btn:hover {
    color: black;
}

.page-wrapper>.content .header-notification .btn-feature-short>.btn img {
    width: 18px;
}

.page-wrapper>.content .main-content {
    padding-left: 8px;
    padding-right: 2px;
    overflow-y: auto;
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 4px 0;
    padding-bottom: 60px;
}

.page-wrapper>.content .main-content .list-content-notification .item-content-notification {
    margin: 4px 0px;
    height: 110px;
    padding: 0px 10px;
}

.page-wrapper>.content .main-content .list-content-notification .item-content-notification img {
    /* width: auto; */
    height: inherit;
    vertical-align: middle;
    display: inline;
}

.page-wrapper>.content .main-content .list-content-notification .item-content-notification .title-content-notification {
    font-size: 13px;
    /* padding: 20px; */
    margin-left: 10px;
    width: 70%;
}

.page-wrapper>.content .main-content .list-content-notification .item-content-notification .title-content-notification .text-title-content-notification {
    /* width: 50px; */
    font-size: 16px;
    height: 18px;
    width: 100%;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #000;
}

.page-wrapper>.content .main-content .list-content-notification .item-content-notification .title-content-notification {
    display: inline-block;
}

.page-wrapper>.content .main-content .list-content-notification .item-content-notification .title-content-notification .text-title-content-notification {
    color: #4d699e;
}

.page-wrapper>.content .main-content .list-content-notification .item-content-notification .title-content-notification span img {
    width: 20px;
}

.footer-copyright {
    font-size: 13px;
    width: 100%;
    height: 34px;
    background-color: rgb(248, 246, 246);
    z-index: 9;
}

.footer-copyright>div {
    position: absolute;
    right: 20px;
    padding-top: 10px;
}

.footer-copyright>div>a {
    text-decoration: none;
}


/* shadow css */

.shadow-item {
    background: #fff;
    position: relative;
}

.shadow-item-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.shadow-item-1:hover {
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-item-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#modalNotification .modal-body {
    font-size: 14px;
}


/* responsive */

@media screen and (max-width: 1840px) {
    .page-wrapper>.content .main-content .list-content-notification .item-content-notification .title-content-notification {
        width: 60%;
    }
}

@media screen and (max-width: 1440px) {
    .page-wrapper>.content .main-content .list-content-notification .item-content-notification .title-content-notification {
        width: 50%;
    }
}

@media screen and (max-width: 1300px) {
    .page-wrapper>.content .main-content .list-content-notification .item-content-notification .title-content-notification span {
        display: none;
    }
    .page-wrapper>.content .main-content .list-content-notification .item-content-notification .title-content-notification a {
        display: none;
    }
    .page-wrapper>.content .main-content .list-content-notification .item-content-notification .title-content-notification {
        width: 45%;
    }
}

@media screen and (max-width: 1920px) {
    .sidebar-wrapper {
        width: 13%;
    }
    .page-wrapper>.content {
        width: 87%;
    }
    .page-wrapper>.content .main-content .list-content-notification .item-content-notification {
        height: 110px;
    }
}

@media screen and (min-width: 1920px) {
    .page-wrapper>.content .main-content .list-content-notification .item-content-notification {
        height: 130px;
    }
}

@media screen and (max-width: 1366px) {
    .sidebar-wrapper {
        width: 18%;
    }
    .page-wrapper>.content {
        width: 82%;
    }
    .page-wrapper>.content .main-content .list-content-notification .item-content-notification {
        height: 110px;
    }
}


/* css Department */

.list-group-item {
    border: none;
}

.form-department {
    margin-left: 2px;
    height: 500px;
    padding: 14px;
    overflow: auto;
}

.form-department .title-form-group {
    font-weight: bold;
    margin: 0;
}

.form-department .department-component {
    margin-top: 16px;
}

.form-department .department-component .btn {
    width: 80px;
}

.form-department .department-component textarea {
    height: 80px;
}